<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Restaurant #<%= @restaurant.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/restaurants" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @restaurant.user %>
          <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit restaurant
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @restaurant.user %>
          <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete restaurant
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @restaurant.name %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <div>
          <%= render partial: "restaurant_templates/one_photo_map" %>
        </div>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @restaurant.user.present? %>
          <a href="/users/<%= @restaurant.user_id %>">
            <%= @restaurant.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Menu link
      </dt>
      <dd>
        <%= @restaurant.menu_link %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@restaurant.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@restaurant.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

