<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All compositions
    </h1>

    <a href="/compositions/new" class="btn btn-block btn-outline-secondary">
      Add a new composition
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Quantity
        </th>

        <th>
          Recipe
        </th>

        <th>
          Ingredient
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @compositions.each do |composition| %>
      <tr>
        <!-- Display composition.id start -->
        <td>
          <%= composition.id %>
        </td>
        <!-- Display composition.id end -->

        <!-- Display composition.quantity start -->
        <td>
          <%= composition.quantity %>
        </td>
        <!-- Display composition.quantity end -->

        <!-- Display composition.recipe_id start -->
        <td>
          <%= composition.recipe.title %>
        </td>
        <!-- Display composition.recipe_id end -->

        <!-- Display composition.ingredient_id start -->
        <td>
          <%= composition.ingredient.name %>
        </td>
        <!-- Display composition.ingredient_id end -->

        <!-- Display composition.user_id start -->
        <td>
          <%= composition.user.email %>
        </td>
        <!-- Display composition.user_id end -->

        <!-- Display composition.created_at start -->
        <td>
          <%= time_ago_in_words(composition.created_at) %> ago
        </td>
        <!-- Display composition.created_at end -->

        <!-- Display composition.updated_at start -->
        <td>
          <%= time_ago_in_words(composition.updated_at) %> ago
        </td>
        <!-- Display composition.updated_at end -->

        <td>
          <a href="/compositions/<%= composition.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
