<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All compositions
    </h1>

    <a href="/compositions/new" class="btn btn-block btn-outline-secondary">
      Add a new composition
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "composition_templates/compositions_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Quantity
        </th>

        <th>
          Recipe
        </th>

        <th>
          Ingredient
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @compositions.each do |composition| %>
      <tr>
        <td>
          <%= composition.id %>
        </td>

        <td>
          <%= composition.quantity %>
        </td>

        <td>
          <% if composition.recipe.present? %>
            <a href="/recipes/<%= composition.recipe.id %>">
              <%= composition.recipe.title %>
            </a>
          <% end %>
        </td>

        <td>
          <% if composition.ingredient.present? %>
            <a href="/ingredients/<%= composition.ingredient.id %>">
              <%= composition.ingredient.name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if composition.user.present? %>
            <a href="/users/<%= composition.user.id %>">
              <%= composition.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(composition.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(composition.updated_at) %> ago
        </td>

        <td>
          <a href="/compositions/<%= composition.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @compositions, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
